@import url("normalize.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Typography */

h1{
    font-size: 2.57rem;
    height: 7vw;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2{
    font-size: 2.35rem;
}

h3{
    font-size: 2.15rem;
}

/* Buttons */

.btn{
    padding: 1rem;
    width: 6vw;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn--primary{
    font-size: 2rem;
    background: darkcyan;
    color: white;
    border-radius: 12px;
    margin-left: 19rem;
}

/* Add Book Container */

.library-container.center-grid {
  width: 100vw;
  display: grid;
  place-content: center;
  margin-left: 4rem;
}

.center-grid {
  width: 100vw;
  display: grid;
  place-content: center;
}

/* Inputs */

.input{
  border: none;
  outline: 0;
  font-size: 2rem;
}

/* Utilites */

.mt-2{
  margin-top: 2rem;
}